/* ============================================= */
/*              Grid System                      */
/* ============================================= */
[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @media #{$media-width} {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
}
  [class^=col] + [class^=col] {
    @media #{$media-width} {
      margin-left: 10px;
    }
  }


.theme.col-1 {
  background-color: $btn-info;

}

.theme.col-2 {
  background-color: $btn-warning;
}

.theme.col-3 {
  background-color: #deb2ee;
}

.theme.col-4 {
  background-color: #7ee6fd;
  background-color: $btn-info;
}

.theme.col-5 {
  background-color: #88d9a0;
}

.theme.col-6 {
  background-color: #4da2bb;
}

.theme.col-7 {
  background-color: #ec9fa3;
}

.theme.col-8 {
  background-color: #fd9f85;
}

.theme.col-9 {
  background-color: $btn-error;
}

.theme.col-10 {
  background-color: $btn-success;
}

.theme.col-11 {
  background-color: $btn-default;
}

.theme.col-12 {
  background-color: #80e8d1;
}

.card {
  flex-basis: 100%;
}







.col-1 {
  @media #{$media-width} {flex-basis: 8.33%;}
}

.col-2 {
    @media #{$media-width} {flex-basis: 16.67%;}
}

.col-3 {
    @media #{$media-width} {flex-basis: 25.00%;}
}

.col-4 {
    @media #{$media-width} {flex-basis: 33.33%;}
}

.col-5 {
    @media #{$media-width} {flex-basis: 41.67%;}
}

.col-6 {
    @media #{$media-width} {flex-basis: 50.00%;}
}

.col-7 {
    @media #{$media-width} {flex-basis: 58.33%;}
}

.col-8 {
    @media #{$media-width} {flex-basis: 66.67%;}
}

.col-9 {
    @media #{$media-width} {flex-basis: 75.00%}
}

.col-10 {
    @media #{$media-width} {flex-basis: 83.33%;}
}

.col-11 {
    @media #{$media-width} {flex-basis: 91.67%;}
}

.col-12 {
    @media #{$media-width} {flex-basis: 100%;}
}
